parameters:

services:
    -
        class: Apermo\PhpStanWordPressRules\Extensions\SerializeReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: Apermo\PhpStanWordPressRules\Extensions\JsonEncodeReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

rules:
    - Apermo\PhpStanWordPressRules\Rules\AutoloadComplexDataRule
    - Apermo\PhpStanWordPressRules\Rules\DisallowQueryPostsRule
    - Apermo\PhpStanWordPressRules\Rules\SprintfTranslationMismatchRule
    - Apermo\PhpStanWordPressRules\Rules\WpQueryNoFoundRowsRule
    - Apermo\PhpStanWordPressRules\Rules\FilterDocParamMismatchRule
    - Apermo\PhpStanWordPressRules\Rules\ActionDocParamMismatchRule
    - Apermo\PhpStanWordPressRules\Rules\NoBlanketSuppressionRule
    - Apermo\PhpStanWordPressRules\Rules\NoConcatenationInTranslationRule
    - Apermo\PhpStanWordPressRules\Rules\NoDynamicCodeExecutionRule
    - Apermo\PhpStanWordPressRules\Rules\NoEvalRule
    - Apermo\PhpStanWordPressRules\Rules\NoHtmlDomParsingFuncCallRule
    - Apermo\PhpStanWordPressRules\Rules\NoHtmlDomParsingNewRule
    - Apermo\PhpStanWordPressRules\Rules\NoHtmlDomParsingRule
    - Apermo\PhpStanWordPressRules\Rules\PostTypeNameLengthRule
    - Apermo\PhpStanWordPressRules\Rules\PreEncodedJsonDataRule
    - Apermo\PhpStanWordPressRules\Rules\PreSerializedDataRule
    - Apermo\PhpStanWordPressRules\Rules\RemoteRequestTimeoutRule
    - Apermo\PhpStanWordPressRules\Rules\TaxonomyNameLengthRule
    - Apermo\PhpStanWordPressRules\Rules\TransientExpirationRule
    - Apermo\PhpStanWordPressRules\Rules\UnsafeUnserializeRule
