services:
    -
        class: SzepeViktor\PHPStan\WordPress\HookDocBlock
    -
        class: SzepeViktor\PHPStan\WordPress\HookDocsVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor
